/* === RESET === */
:root {
  --green-deep: #1E5F3A;
  --green-primary: #4CAF50;
  --green-pastel: #E9F4EA;

  --cream: #F7F5F2;
  --brown-warm: #C89F7E;
  --accent-purple: #A88CCD;

  --gray-bg: #ECEAE8;
  --gray-border: #D8D6D2;
  --gray-text: #646464;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
  max-width: 100%;
  background-color: #fefefe;
  font-family: 'Poppins', sans-serif;
}
#adote{
  background-color: #7a8ccb;
}
main {
  padding: 0;
  margin: 0 auto;
  max-width: 1400px;
}

.intro-adote {
  text-align: center;
  
  color: #333;
}

.intro-adote h1 {
  font-size: 2.4rem;
  color:#5e8a60;
  margin-bottom: 10px;
}

.intro-adote p {
  font-size: 1.2rem;
  color: #555;
  max-width: 700px;
  margin: 0 auto;
}
.titulo {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 40px;
}

.titulo-ajuda h1 {
  font-size: 2.8rem;
  color: #5e8a60;
  font-weight: 700;
  margin-bottom: 10px;
}
.linha-decorativa {
  width: 100px;
  height: 4px;
  background-color: #5e8a60;;
  margin: 0 auto;
  border-radius: 2px;
  margin-bottom: 25px;
}
.search-box {
    margin: 25px auto 5px auto;
    padding: 12px 18px;
    width: 100%;
    max-width: 480px;

    background: #ffffff00;
    border-radius: 12px;

    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;

    box-shadow: 0 4px 15px rgba(0,0,0,0.08);
}

.search-box input {
    flex: 1;
    padding: 10px 14px;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
    font-size: 15px;
    outline: none;
}

.search-box input:focus {
    border-color: #5669FF;
    box-shadow: 0 0 0 2px rgba(86,105,255,0.2);
}

.search-box button {
    background: #5e8a60;
    color: white;
    padding: 10px 18px;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s;
}

.search-box button:hover {
    background: rgba(94, 138, 96, 0.8);
}

.cards-vitrini {
  padding: 40px 20px;
  text-align: center;
  overflow-x: hidden; /* <- Corrigido */
  border-radius: 10px;
  margin: 0px 0 40px;
}

.cards-vitrini h1{
  font-size: 40px;
  color:#c89f7e;
}

.vitrine {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px ;
}

.pet-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  text-align: center;
  transition: transform 0.2s;
  position: relative;
  overflow: hidden;
  padding: 0%;
  border-radius: 30px;
  margin: 15px 5px;
  width: 300px;
  height: 600px;
}

.pet-card:hover {
  transform: scale(1.02);
}

.pet-imagem {
  position: relative;
  width: 100%;
  height: 225px;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  transition: opacity 0.3s ease;
}

.pet-imagem img {
  width: 100%;
  height: 225px;
  object-fit: cover;
  display: block;
}

.pet-info {
  height: 320px;
  padding: 15px;
  text-align: left;
  display: block;
  padding-bottom: 5px;
}

.pet-info h2{
  font-size: 28px;
  border-bottom: 1px solid #ccc;
}

.pet-info p{
  display: flex;
  margin: 10px 0;
  gap: 10px;
}

.iconpet{
  width: 24px;
  height: 24px;
}

.pet-card.expandido .pet-imagem {
  opacity: 0;
  pointer-events: none;
}

.pet-card.expandido .sobre {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateY(0);
}

.div-qadot{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

.qadot {
  padding: 10px 60px;

  border: none;
  border-radius: 10px;
  background-color:#c8f3cc;
  background-color: #f2d16b;
  color: #3a3939;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.qadot:hover {
  transform: scale(1.03);
  transition: 0.3s;
  background-color: rgba(200, 243, 204, 0.7);
  background-color: rgba(242, 209, 107, 0.8);
}

.cadastro-pet-container {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

.cadastro-pet-btn {
  background-color: #5e8a60;
  color: white;
  padding: 12px 24px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1rem;
  box-shadow: 2px 4px 10px rgba(0,0,0,0.2);
  transition: background-color 0.3s;
}

.cadastro-pet-btn:hover {
  background-color: rgba(94, 138, 96, 0.8);
}

.nenhum-resultado{
  display: flex;
  height: 250px;
  justify-content: center;
  align-items: center;

  font-size: 20px;
}

/* Responsividade */
@media (max-width: 768px) {
  .vitrine {
    grid-template-columns: 1fr;
    padding: 10px;
  }

  .pet-card {
    width: 500px;
    height: 615px;
    margin: 0 auto;
  }

  .pet-imagem{
    height: 300px;
    margin: 0;
  }

  .pet-imagem img{
    height: 300px;
  }
  .sobre {
    bottom: 70px;
  }
}

@media (max-width: 516px) {
    .pet-card {
    width: 400px;
    height: 650px;
    margin: 0 auto;
  }

  .sobre {
    bottom: 60px;
    padding: 10px;
  }

  .saiba, .qadot {
    font-size: 1rem;
    padding: 15px;
  }
}
